.tabla
{
    display: table;
    padding: 100px;
    background-color: green;
}
.fila
{
    display: table-row;
}
.columna
{
    display: table-cell;
    padding: 12px;
}
.azul
{
    background-color: rgb(18, 99, 221);
}
.verde
{
    background-color: rgb(2, 145, 57);
}
