body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12%;
    width: 70%;
}
.libros
{
    text-align: center;
}
.tabla
{
    display: table;
    border: solid 2px black;
    padding: 5px;
}
.fila
{
    display: table-row;
}
.celda
{
    display:table-cell;
}
.columna
{
    display: table-cell;
    padding: 12px;
}
#azul
{
    background-color: rgb(18, 99, 221);
}
#verde
{
    background-color: rgb(2, 145, 57);
}
